.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--generic-border-radius);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 5rem;
}
.btn:focus {
  outline: var(--space-1) var(--focus-accent-color) solid;
}
.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--link {
  color: var(--info-primary);
  opacity: 0.8;
  background-color: transparent;
}
.btn--link:hover,
.btn--link:focus {
  text-decoration: underline;
  opacity: 1;
  outline: none;
}

.btn--info {
  background-color: var(--info-primary);
  border: var(--space-1) var(--info-primary) solid;
  color: var(--white);
}
.btn--info.btn--outlined {
  background-color: transparent;
  color: var(--info-primary);
}

.btn--warning {
  background-color: var(--warning-primary);
  border: var(--space-1) var(--warning-primary) solid;
  color: var(--black);
}
.btn--warning.btn--outlined {
  background-color: transparent;
  color: var(--warning-primary);
}

.btn--danger {
  background-color: var(--danger-primary);
  border: var(--space-1) var(--danger-primary) solid;
  color: var(--white);
}
.btn--danger.btn--outlined {
  background-color: transparent;
  color: var(--danger-primary);
}

.btn--success {
  background-color: var(--success-primary);
  border: var(--space-1) var(--success-primary) solid;
  color: var(--white);
}
.btn--success.btn--outlined {
  background-color: transparent;
  color: var(--success-primary);
}

.btn--icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn--floating {
  position: fixed;
  z-index: 5;
  /* TODO: Add Border Shadow as a generic helper */
  box-shadow: var(--floating-button-box-shadow);
}
